.card {
    min-width: 400px;
    height: 200px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.cardTitle {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #4c77cb;
}

.cardTitle h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
}

.cardContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}